@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
	font-size: 75px;
	font-family: Indie Flower;
	text-align: center;
}


.clock{
	background-color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}

.main{
	background-color: #eee;
	padding: 30px;
	width: 400px;
	height: 175px;
	margin: 100px auto;
}
